
<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../resources/css/cssCopy.css">
        <link href="https://fonts.googleapis.com/css?family=PT Sans Caption|Karla|Dancing Script" rel='stylesheet'>
        <title>China Gourmet Longmont</title>
    </head>
  
    <body>
        <div class="group10">
            <div class="rect1">
                <img class="logo" src="../resources/images/logo.png" alt="">
                <a class="home" href="/home">Home</a>
                <a class="hoursAndLocation" href="/hoursAndLocation">Hours & Location</a>
                <a class="menu" href="/menu">Menu</a>
                <button class="order" >Order</button>
            </div>
        </div>

        

        <div class="rect3">
            <a class="title">China Gourmet Longmont</a>
        </div>



    </body>
    