
<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../resources/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=PT Sans Caption|Karla|Dancing Script" rel='stylesheet'>
    </head>
  
    <body>
     
        <div id="covidModal" class="modal">
            <div class="modal-content">
              <span class="close2">&times;</span>
              <p>Due to Covid...</p>
            </div>
        </div>
        <script src="../resources/scripts/popUp.js">
        </script>

        <div class="topnav">
            <img class="logo" src="../resources/images/logo.png" alt="">
            <div class="topnav-right">
                <a href="../pages/home.ejs">Home</a>
                <a href="../pages/hoursAndLocations.html">Hours & Location</a>
                <a href="../pages/menu.html">Menu</a>
                <button class="order" id="orderBtn">Order</button>

                <div id="myModal" class="modal">
                    <div class="modal-content">
                      <span class="close">&times;</span>
                      <p>Order for Delivery</p>
                    </div>
                </div>
                <script src="../resources/scripts/popUp.js">
                </script>
            </div>
        </div>

        

        <div class="rect3">
            <div class="darken">
                <a class="title">China Gourmet Longmont</a>
                <a class="blrb">Fresh Food. Authentic Taste</a>
                <button class="orderNow" id="orderNowBtn">Order Now</button>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                      <span class="close">&times;</span>
                      <p>Order for Delivery</p>
                    </div>
                </div>
                <script src="../resources/scripts/popUp.js">
                </script>
            </div>
        </div>
        <div class="rect8">
            <a>Come in on the 1st of every month to get a $100 gift card for only $90!</a>
        </div>
        <div class="rect9">
            <img src="../resources/images/dumpAndKnife.png">
            <a>About</a>
        </div>
        <div class="rect24">
            <a>facebook</a>
        </div>



    </body>
    